<% case f.object.field.field_type %>
  <% when 'image' then %>
    <%= f.file_field :image, filed_options(f) %>
    <%= f.form_group do %>
      <div class="row">
        <% if f.object.image? %>
          <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
              <%= image_tag f.object.image_url %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% when 'slide' then %>
      <%= f.hidden_field :type %>
      <%= f.file_field :image, filed_options(f) %>
      <%= f.form_group do %>
          <div class="row">
            <% if f.object.image? %>
                <div class="col-xs-6 col-md-3">
                  <div class="thumbnail">
                    <%= image_tag f.object.image_url %>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
<% when 'file' then %>
    <%= f.hidden_field :type %>
    <%= f.file_field :file, filed_options(f) %>
    <%= f.form_group do %>
        <div class="row">
          <% if f.object.file? %>
              <div class="col-xs-6 col-md-3">
                <a target="_blank" href="<%= f.object.file_url %>"><%= File.basename f.object.file.path %></a>
              </div>
          <% end %>
        </div>
    <% end %>
  <% when 'gallery' then %>
    <%= f.form_group label: {text: "#{f.object.field.description}", class: "#{'required' if f.object.field.required?}"} do %>
    <% end %>
    <%= f.hidden_field :type %>
    <%= f.fields_for :pictures do |picture| %>
      <%= render 'picture_fields', f: picture %>
    <% end %>

    <%= f.form_group nil, class: 'add-picture' do %>
        <%= link_to_add_association f, :pictures, 'data-association-insertion-node' => '.add-picture' do %>
            <i class="fa fa-plus"></i> 添加图片
        <% end %>
    <% end %>
  <% when 'rich_text' then %>
    <%= f.form_group label: {text: "#{f.object.field.description}", class: "#{'required' if f.object.field.required?}"} do %>
      <%= f.kindeditor :value, class: "rich_text" %>
      <br />
      <%= f.errors_on :value %>
    <% end %>
  <% when 'textarea' then %>
    <%= f.text_area :value, filed_options(f) %>
  <% when 'select' then %>
    <%= f.select :value, f.object.field.options.map{|e| [e, e]}, filed_options(f) %>
  <% when 'page' then %>
    <!-- page select2 -->
    <%= f.select :value, select_choices(f), filed_options(f), { data: { provide: 'page-select2' } } %>
  <% else %>
    <%= f.text_field :value, filed_options(f) %>
<% end %>