
<% if @parent_id %>
    <div class="row m-v-10">
      <div class="col-md-8">
        <h4><%= @parent_page.title %></h4>
      </div>
      <div class="col-md-4 text-right" style="line-height: 39px;">
        <% if visible?(:edit, @parent_page) %>
          <%= link_to '编辑', edit_page_path(@parent_page) %> |
        <% end %>

        <% if visible?(:destroy, @parent_page) %>
          <%= link_to '删除', page_path(@parent_page), method: :delete, data: { confirm: '确定要删除吗?' } %> |
        <% end %>

        <a href="<%= Rails.application.routes.url_helpers.page_path(@parent_page) %>" target="_blank">
          <i class="glyphicon glyphicon-share"></i>预览
        </a>
      </div>
    </div>
<% end %>

<div class="m-v-10">
  <% if visible?(:create, Blacksand::Page) %>
    <%= link_to new_page_path(parent_id: @parent_id), class: "btn btn-primary" do %>
        <i class="glyphicon glyphicon-plus"></i> 新增页面
    <% end %>
  <% end %>

  <% if visible?(:sort, Blacksand::Page) %>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-align-justify"></i> 排序</button>
  <% end %>
</div>

<div class="m-v-10">
  <%= search_form_for(@q, url: children_partial_pages_path, remote: true) do |f| %>
      <% if @parent_id.present? %>
          <%= hidden_field_tag :parent_id, @parent_id %>
      <% end %>
      <%= f.label :title_cont %>
      <%= f.text_field :title_cont %>
      <%= f.submit class: 'btn btn-primary btn-sm' %>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>标题</th>
      <th>标识</th>
      <th>模版</th>
      <th>原型</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each_with_index do |page, index| %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= page.title %>  </td>
      <td><%= page.en_name %></td>
      <td><%= page.template.try :name %></td>
      <td><%= page.prototype.try(:name) %></td>
      <td>
        <% if visible?(:edit, page) %>
          <%= link_to '编辑', edit_page_path(page) %> |
        <% end %>

        <% if visible?(:destroy, page) %>
          <%= link_to '删除', page_path(page), method: :delete, data: { confirm: '确定要删除吗?' } %> |
        <% end %>

        <a href="<%= main_app.page_path(page) %>" target="_blank">
          <i class="glyphicon glyphicon-share"></i>预览
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div id="paginator">
  <%= paginate @pages, :remote => true %>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">排序</h4>
      </div>
      <div class="modal-body">
        <p class="help-block">拖动排序</p>
        <ul id="modal-list" data-update-url="<%= sort_pages_path %>">
          <% @all_children.each do |p| %>
            <li data-id="<%= p.id %>"><%= p.title %></li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
