<h3><%= @page.title %></h3>

<%= link_to '编辑', edit_dashboard_page_path(@page) %>
<%= link_to '删除', dashboard_page_path(@page), method: :delete, data: { confirm: '确定删除吗?' } %>

<table class="table table-bordered">
  <caption>子页面</caption>
  <thead>
  <tr>
    <th>#</th>
    <th>标题</th>
    <th>标识</th>
    <th>模版</th>
    <th>原型</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @page.children.each_with_index do |page, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= link_to page.title, dashboard_page_path(page) %></td>
        <td><%= page.en_name %></td>
        <td><%= page.template.name %></td>
        <td><%= page.prototype.try(:name) %></td>
        <td><%= link_to '删除', dashboard_page_path(page), method: :delete, data: { confirm: '确定要删除吗?' } %> |
          <%= link_to '编辑', edit_dashboard_page_path(page) %>
          | <%= link_to '子页面', children_dashboard_page_path(page) %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>